.navigationItem{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
.navigationItem a {
    color:#8f5c2c;
    display: block;
    text-decoration: none;
    height: 100%;
    padding: .5rem .5rem;
    box-sizing: border-box;
}

.navigationItem a:hover,.navigationItem a:active,.navigationItem a.active{
    color: #40a4c8;
}

@media (min-width:500px){
    .navigationItem{
        margin:0;
        display: flex;
        align-items: center;
    }
    .navigationItem a {
        color:#fff;

        border-bottom: 4px solid transparent;
    }
    
    .navigationItem a:hover,.navigationItem a:active,.navigationItem a.active{
        background-color: #8f5c2c;
        color:#fff;
        border-bottom: 4px solid #40a4c8;
    }
    
}