.SideDrawer{
    position: fixed;
    top:0;
    left: 0;
    min-width:70%;
    height: 100%;
    z-index: 200;
    background-color: #fff;
    padding:1rem;
    box-sizing: border-box;
    transition: transform .3s ease-out;
}
.Logo{
    height: 10%;
    margin-bottom: 1rem;
}
@media (min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);

}

.Closed{
    transform: translateX(-100%);
}