.Input{
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    text-align: left;
}

.Label{
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.InputElement{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    font-family: inherit;
    padding: .5rem;
    box-sizing: border-box;

}

.InputElement:focus{
    background-color: #ccc;
    outline: none;
}

.Invalid{
    background-color: rgb(240, 168, 160);
    border: 1px solid red;

}

.Invalid:focus{
    border: 1px solid red;
    outline: none;
}

.WasInvalid{
    border: 1px solid green !important;
    background-color: rgb(160, 240, 171);
    transition: all .3s;

}